<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgNMy94sNS3yyhz5hxrEK2smIOci0vvrk</string>
	<key>GCM_SENDER_ID</key>
	<string>1086503537258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ae.playbackPlayer</string>
	<key>PROJECT_ID</key>
	<string>videonoteappaeios</string>
	<key>STORAGE_BUCKET</key>
	<string>videonoteappaeios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086503537258:ios:e9bd092be0d17ce0865813</string>
</dict>
</plist>